body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.pixel-grid {
  width: 340px;
  height: 340px;
  cursor: pointer;
}

.brush-selector {
}

.brush-selector__brush {
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.brush-selector__brush:hover {
  opacity: 1;
}

.brush-selector__brush--selected {
  opacity: 1;
}
