html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.pixel-grid-container {
  margin: 20px auto;
  -webkit-tap-highlight-color: transparent;
}

.pixel-grid {
  cursor: pointer;
  background-color: #eee;
  pointer-events: none;
}

.color-selector__color {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-selector__color--foreground {
  margin-right: 20px;
}

.menu {
  font-size: 32px;
  line-height: 32px;
}

.mode {
  color: #999;
  padding: 2px;
  display: inline-block;
  text-align: center;
  border: 3px solid transparent;
}

.mode--selected {
  border: 3px solid #ccc;
  color: #333;
}

.mode img {
  vertical-align: bottom;
}

.mode .fa {
  font-size: 28px;
  width: 32px;
}

.frame-list {
}

.frame {
  border: 2px solid #ccc;
}
