html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

/* TODO: Stop this hard-coding */
.pixel-grid-container {
  width: 320px;
  height: 320px;
  margin: 20px auto 20px;
  -webkit-tap-highlight-color: transparent;
}

.pixel-grid {
  cursor: pointer;
  background-color: #eee;
  pointer-events: none;
}

.color-selector__color {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.mode {
  color: #999;
}

.mode--selected {
  color: #333;
}
